#wrapper {
    margin: 0 auto;
    max-width: 900px;
}
section {
    float: left;
    width: 75%;
    color: #2C425A;
}
button {
    width: 32%;
    height: 260px;
    padding: 0;
    border: 1px solid #D9EEFA;
    background-color: white;
    color: #2C425A;
    font-size: 120%;
    text-align: center;
}
    button:hover {
        cursor: pointer;
        background-color: lightgray;
    }
    button .title {
        font-weight: bold;
    }
    button .prize {
        color: white;
        background-color: #2C425A;
        border-top-left-radius: 10px;
        display: block;
        height: 2.1em;
        width: 5.7em;
        float: right;
        line-height: 40px;
    }

aside {
    float: right;
    width: 25%;
    color: #2C425A;
}
    aside p {
       text-align: center;
    }
    aside input {
        width: 100%;
    }
    aside .max {
        float: right;
    }
