USE master
GO

CREATE DATABASE ATM
GO

USE ATM
GO

CREATE TABLE CardAccounts
(
	Id INT PRIMARY KEY IDENTITY,
	CardNumber CHAR(10) NOT NULL,
	CardPIN CHAR(4) NOT NULL,
	CardCash MONEY NOT NULL
)

GO

CREATE TABLE TransactionHistory
(
	Id INT PRIMARY KEY IDENTITY,
	CardNumber CHAR(10) NOT NULL,
	TransactionDate DATETIME NOT NULL,
	Amount MONEY NOT NULL
)

GO

INSERT INTO CardAccounts VALUES('1111111111', '0123', 1500)
INSERT INTO CardAccounts VALUES('2222222222', '1234', 2500)
INSERT INTO CardAccounts VALUES('1234567890', '2222', 3500)
