@model Peek.Web.ViewModels.LeftSidebarViewModel

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="text-center no-margin">Categories</h3>
    </div>
    <div class="panel-body">
        <div class="break-word">
            @Ajax.ActionLink("Latest Products", "Latest", "Products",
                new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content" })
        </div>
        @Html.DisplayFor(m => m.Categories)
    </div>
</div>
