* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bookman Old Style; }

html {
  font-size: 62.5%;
  width: 100%; }
  html body {
    background-color: #55728b;
    font: normal 11px "Open Sans", tahoma, helvetica, arial, sans-serif;
    position: relative;
    zoom: 1;
    background-image: url("../images/shattered.png"); }
    html body header {
      max-width: 70%;
      margin: 0 auto; }
      html body header aside ul li a {
        text-decoration: none;
        color: #fff;
        text-align: right;
        height: 100%;
        width: 110px;
        display: block;
        outline: none;
        line-height: 30px;
        position: relative; }
        html body header aside ul li a:before {
          content: url("../images/nav_forums.png");
          display: inline-block; }
      html body header ol, html body header ul {
        list-style: none;
        display: block;
        width: 55%;
        height: 50px; }
      html body header ol li, html body header ul li {
        text-align: left;
        font-size: 1.5rem;
        display: inline-block;
        vertical-align: middle;
        margin-right: 3%;
        height: 100%;
        background-color: #323232;
        padding: 2%; }
        html body header ol li:hover, html body header ul li:hover {
          background-color: #464646; }
      html body header ol li a, html body header ul li a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none; }
      html body header .logo-container {
        background-color: #323232;
        color: white;
        padding: 10px; }
      html body header .sub-container {
        background-color: #e95031;
        border-bottom: 1px solid #323232;
        padding: 1% 2% 0 2%; }
        html body header .sub-container #login-container {
          display: inline-block;
          width: 60%;
          color: #ffffff;
          font-size: 1.3rem; }
          html body header .sub-container #login-container form {
            width: 100%; }
            html body header .sub-container #login-container form input {
              width: 25%;
              height: 25px;
              display: inline-block;
              outline: none;
              border: none; }
              html body header .sub-container #login-container form input[type='text'], html body header .sub-container #login-container form input[type='password'] {
                padding: 1%; }
              html body header .sub-container #login-container form input[type='button'] {
                width: 20%;
                margin-left: 1%;
                cursor: pointer;
                background: #323232;
                color: #FFF; }
                html body header .sub-container #login-container form input[type='button']:hover {
                  background: #464646; }
        html body header .sub-container #logged-in-container {
          width: 60%;
          color: #ffffff;
          font-size: 1.8rem; }
          html body header .sub-container #logged-in-container p {
            display: inline-block; }
          html body header .sub-container #logged-in-container a {
            color: #323232;
            text-decoration: none; }
            html body header .sub-container #logged-in-container a:hover {
              color: orange; }
        html body header .sub-container #addQuestion {
          color: #fff;
          text-align: center;
          outline: none; }
          html body header .sub-container #addQuestion:before {
            content: url("../images/nav_content.png");
            vertical-align: -30%; }
        html body header .sub-container #registration {
          color: #fff;
          text-align: center;
          outline: none; }
          html body header .sub-container #registration:before {
            content: url("../images/nav_members.png");
            vertical-align: -30%; }
        html body header .sub-container #index {
          color: #fff;
          outline: none; }
          html body header .sub-container #index:before {
            content: url("../images/nav_home.png");
            vertical-align: -30%; }
        html body header .sub-container #nav-menu {
          display: block;
          font-weight: bold;
          margin-top: 2%; }
        html body header .sub-container #search-field {
          vertical-align: top;
          height: 34px;
          font-size: 12pt; }
        html body header .sub-container #search-form {
          float: right; }
        html body header .sub-container #search-button {
          background: #323232 url("../images/search_icon.png") no-repeat 50%;
          box-shadow: 3px 3px 1px 0 #5d2013;
          -moz-box-shadow: 3px 3px 1px 0 #5d2013;
          -webkit-shadow: 3px 3px 1px 0 #5d2013;
          outline: 0;
          border: none;
          width: 34px;
          height: 34px;
          border-radius: 3px;
          margin-left: -3px; }
          html body header .sub-container #search-button:focus {
            outline: none; }
          html body header .sub-container #search-button:active {
            outline: none;
            position: relative;
            top: 3px;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-shadow: none; }
        html body header .sub-container #search {
          display: inline;
          width: 45%; }
        html body header .sub-container #logged-in-container {
          display: none; }
        html body header .sub-container #login-form {
          width: 173px;
          float: left;
          padding: 3px; }
    html body #main-content #page-navigation {
      margin: 10px 0; }
      html body #main-content #page-navigation a {
        margin: 0 2px;
        padding: 5px 10px;
        font-size: 1.8em;
        background-color: #323232;
        color: #ffffff;
        text-decoration: none;
        border-radius: 2px; }
        html body #main-content #page-navigation a:hover {
          color: #e95031; }
      html body #main-content #page-navigation .active-page {
        background-color: #e95031;
        color: #323232; }
        html body #main-content #page-navigation .active-page:hover {
          color: #ffffff; }
