* {
  margin: 0;
  padding: 0; }

main {
  width: 70%;
  height: 60%;
  margin: 0 auto;
  font-size: 2rem;
  background-color: slategray;
  padding: 2%;
  border-radius: 3px; }
  main h1 {
    color: #323232;
    margin-bottom: 5%; }
  main .registration-form {
    text-align: center;
    margin: 5% auto;
    width: 75%;
    height: 65%;
    background-color: darkgray;
    border: 2px solid orange;
    border-radius: 5px;
    color: white; }
    main .registration-form div {
      margin-bottom: 3%; }
      main .registration-form div input {
        float: right;
        width: 65%;
        height: 30px;
        border-radius: 2px;
        border: 1px solid #e95031;
        padding: 2%;
        font-size: 1.5rem; }
        main .registration-form div input:focus, main .registration-form div input:active {
          outline: none; }
      main .registration-form div label {
        float: left;
        min-width: 120px;
        text-align: left; }
      main .registration-form div label.error {
        display: block;
        width: 100%;
        color: red;
        text-align: center;
        margin-top: 1%; }
      main .registration-form div:after {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both; }
    main .registration-form .user-data-wrapper {
      width: 55%;
      margin: 2% auto; }
      main .registration-form .user-data-wrapper:after {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both; }
    main .registration-form button {
      cursor: pointer;
      margin: 2% auto;
      width: 20%;
      height: 35px;
      background-color: #e95031;
      box-shadow: 3px 3px 1px 0 #5d2013;
      -moz-box-shadow: 3px 3px 1px 0 #5d2013;
      -webkit-shadow: 3px 3px 1px 0 #5d2013;
      border: none;
      outline: none;
      color: #323232;
      font-size: 2rem;
      border-radius: 2px; }
      main .registration-form button:focus, main .registration-form button:active {
        outline: none; }
      main .registration-form button:active {
        position: relative;
        top: 3px;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-shadow: none; }
    main .registration-form .successful-registration {
      color: darkgreen;
      font-size: 2.5rem;
      vertical-align: middle;
      margin: 2% auto;
      font-weight: bold;
      opacity: 0; }
