main {
  max-width: 70%;
  margin: 0 auto;
  background-color: slategray;
  padding: 2%; }
  main:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  main > div {
    display: inline-block;
    vertical-align: top;
    margin: 0 2%;
    width: 70%; }
    main > div section h1 {
      padding: 1%;
      height: 7%;
      font-size: 2.5rem;
      color: aliceblue;
      background-color: #e95031;
      font-weight: normal;
      border-bottom: 3px solid orange; }
    main > div section .question {
      background-color: #acb2b7;
      padding: 2%;
      border-bottom: 1px solid darkgray; }
      main > div section .question .content {
        font-size: 1.8rem;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 1%;
        border-radius: 3px; }
      main > div section .question .meta-data {
        font-size: 1.4rem;
        margin-bottom: 2%; }
        main > div section .question .meta-data .nickname {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 1%; }
        main > div section .question .meta-data .question-tags {
          float: right; }
      main > div section .question .tags {
        display: block;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        margin-top: 1.5%;
        padding-top: 1%; }
        main > div section .question .tags a {
          font-size: 1.5rem;
          color: black;
          display: inline-block;
          margin-right: 1.5%; }
          main > div section .question .tags a:hover {
            color: #ffffff; }
    main > div section .answer {
      background-color: aliceblue;
      padding: 2%;
      border-bottom: 1px solid darkgray; }
      main > div section .answer .nickname {
        font-size: 1.3rem;
        font-weight: bold; }
      main > div section .answer .meta-data {
        font-size: 1.4rem;
        margin-bottom: 1%; }
    main > div section article {
      height: 30%;
      padding: 1% 2% 2% 2%;
      border-bottom: 1px groove orange;
      background-color: darkgray;
      width: 100%;
      font-size: 1.4rem; }
      main > div section article a {
        font-size: 1.7rem;
        color: whitesmoke;
        text-decoration: none; }
        main > div section article a:hover {
          color: #323232; }
    main > div .new-answer-wrapper {
      margin-top: 2%; }
      main > div .new-answer-wrapper input {
        width: 40%;
        height: 30px;
        padding: 1%;
        margin: 2% auto;
        display: block; }
      main > div .new-answer-wrapper button {
        margin-bottom: 2%;
        height: 35px;
        background-color: #e95031;
        box-shadow: 3px 3px 1px 0 #5d2013;
        -moz-box-shadow: 3px 3px 1px 0 #5d2013;
        -webkit-shadow: 3px 3px 1px 0 #5d2013;
        border: none;
        outline: none;
        color: #323232;
        font-size: 2rem;
        border-radius: 2px; }
        main > div .new-answer-wrapper button:focus, main > div .new-answer-wrapper button:active {
          outline: none; }
        main > div .new-answer-wrapper button:active {
          position: relative;
          top: 3px;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-shadow: none; }
      main > div .new-answer-wrapper > div {
        text-align: center; }
        main > div .new-answer-wrapper > div #toggle-reply-btn {
          cursor: pointer;
          width: 20%; }
      main > div .new-answer-wrapper > #new-answer {
        margin: 0 auto;
        text-align: center; }
        main > div .new-answer-wrapper > #new-answer #save-reply-btn {
          cursor: pointer;
          width: 35%;
          margin-top: 2%; }
        main > div .new-answer-wrapper > #new-answer label.error {
          color: red;
          display: block;
          text-align: center;
          font-size: 2rem; }
        main > div .new-answer-wrapper > #new-answer textarea {
          display: block;
          margin: 2% auto;
          width: 400px;
          height: 150px;
          padding: 1%; }
