@model Peek.Web.ViewModels.CategoryViewModel

<div class="break-word">
    @Ajax.ActionLink(Model.Name, "ByCategory", "Products", new { id = Model.Id, @class = "break-word" },
        new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content" })
</div>
