#wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

button {
    cursor: pointer;
    margin-right: 5px;
}

input {
    margin: 5px 0;
}

#books > div {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    vertical-align: top;
    min-height: 120px;
    min-width: 150px;
    word-wrap: break-word;
}

#books > div > div {
    margin-bottom: 1px;
}

#save-book-btn {
    display: none;
}