#container {
    text-align: center;
    border: 1px solid black;
    width: 35%;
    min-height: 400px;
    margin: 0 auto;
}

input {
    margin-right: 10px;
    margin-bottom: 10px;
}

section {
    border: 1px solid black;
    margin: 10px 15px;
    padding: 15px;
    text-align: right;
}

section > div {
    text-align: left;
    margin-bottom: 5px;
    border: 1px solid black;
}

.completed {
    background: lawngreen;
}
